@font-face {
    font-family: 'SansPro Regular';
    src: url(../fonts/sourcesanspro-regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro Light';
    src: url(../fonts/sourcesanspro-light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro Bold';
    src: url(../fonts/sourcesanspro-bold.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro Semibold';
    src: url(../fonts/sourcesanspro-semibold.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro Italic';
    src: url(../fonts/sourcesanspro-it.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}